@page "/addinventory"
@inject IAddInventoryUseCase AddInventoryUseCase 
@inject NavigationManager _navigation
@attribute [Authorize]

<h3>Add Inventory</h3>

@if(Inventory != null)
{
    <EditForm Model="Inventory" OnValidSubmit="CreateInventory">
        <DataAnnotationsValidator/>

        <div class="form-group">
            <label for="name">Inventory Name</label>
            <InputText id="name" @bind-Value="Inventory.InventoryName" class="form-control"></InputText>
             <ValidationMessage For="() => Inventory.InventoryName"></ValidationMessage>
        </div>
         <div class="form-group">
            <label for="quantity">Quantity</label>
            <InputNumber id="quantity" @bind-Value="Inventory.Quantity" class="form-control"></InputNumber>
            <ValidationMessage For="() => Inventory.Quantity"></ValidationMessage>
        </div>
         <div class="form-group">
            <label for="price">Price</label>
            <InputNumber id="price" @bind-Value="Inventory.Price" class="form-control"></InputNumber>
            <ValidationMessage For="() => Inventory.Price"></ValidationMessage>
        </div>
        <div class="mt-2">

        <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </EditForm>
}

@code {
    private Inventory? Inventory { get; set; } = new Inventory();

    private async Task CreateInventory()
    {
        if (Inventory != null)
        {
            await AddInventoryUseCase.ExecuteAsync(Inventory);
            _navigation.NavigateTo("/inventories");

        }

    }
}
